<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="600 seconds">
    <contextName>simune</contextName>
    <jmxConfigurator />
   
    <substitutionProperty name="log.base" value="logs/" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%X{traceId}] %-5level %logger{80}.%L - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}simune.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>${log.base}simune.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%X{traceId}] %-5level %logger{80}.%L - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.ne">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.boot">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>

    <logger name="org.apache">
        <level value="ERROR" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>

</configuration>
